<!-- <div>
  <p>This is the About component!</p>
</div> -->

<div class="carousel">
  <ul class="slides">
    <li *ngFor="let image of images">
      <h2>{{image.title}}</h2>
      <img src="{{image.url}}" alt="Northland Chorale show">
    </li>
  </ul>
</div>

<h2>Who We Are</h2>
<br>

<div>
  <p>The Northland Chorale is a mixed voice chorus made up of volunteers from all walks of life who love to sing and entertain. We are known for our entertaining shows that mix fully choreographed choral production numbers, solos, and small group numbers
    performed by Northland Chorale members. Our shows are written, produced and performed by Northland Chorale members based on a theme chosen from audience suggestions and member input. We perform a wide variety of music including Broadway show tunes,
    rock & roll, doo-wop, pop, movie themes, and more.</p>

  <p>The Northland Chorale is not your traditional community choir. We memorize our music, add choreography and intermingle some comedy for a total experience. We strive to produce a variety show that is entertaining to all ages and genders in our audience.</p>

  <p>We are one of the longest continuously operating show choirs in the country. We've been entertaining audiences for over 45 years, and they keep coming back. We must be doing something right, so come see for yourself at our <a [routerLink]="['/tickets']">next performance!</a></p>
</div>
<br>

<div class="row">
  <h2>Music Director</h2>
</div>
<div class="media">
  <div class="media-left">
    <img class="media-object" src="../assets/img/kris.jpg" alt="Kris">
  </div>
  <div class="media-body">
    <h3 class="media-heading">Kris Sage</h3> Kris graduated from Metropolitan State University of Denver in May 2016 with a Bachelor's in Music and a Minor in Theater. His senior thesis was on music and autism. Kris has over 20 years experience singing, dancing and acting in choirs and productions.
    He has learned from some of the best teachers and conductors in the country, including a Grammy judge and an American Choral Directors Association Hall of Fame conductor. Kris has a love for all styles of music and has performed everything from opera
    to rock. Kris says, "I love how music brings people together, and I am so thrilled to be a part of the Northland Chorale family. I'm excited to see where we can go, and what we can do when we join our talents and passions for music and performing!"
    We are just as excited to have Kris on board!</div>
</div>
<br>

<div class="row">
  <h2>Accompanist</h2>
</div>
<div class="media">
  <div class="media-left">
    <img class="media-object" src="../assets/img/patti.jpg" alt="Patti">
  </div>
  <div class="media-body">
    <h3 class="media-heading">Patricia Strauch</h3> The Northland Chorale is pleased to have Patricia (Patti) Strauch as our rehearsal and performance accompanist. Patti brings a wealth of keyboard experience and a great personality to the Chorale. As a performance / rehearsal accompanist, private
    piano teacher and contract musician she has shared her talents with churches, musical theaters and dance studios in Colorado and Florida since 1974. We are very happy that Patti is sharing her great musical talent with us!</div>
</div>
<br><br>

<div class="row">
  <h2>Board Members</h2>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/jill_cropped.jpg" alt="Jill">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Jill Parsons, President</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/carolyn.jpg" alt="Carolyn">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Carolyn Vittorelli, Vice President</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/carol.jpg" alt="Carol">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Carol Anthony, Secretary</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/mary.jpg" alt="Mary">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Mary Flaherty, Treasurer</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/michelle.jpg" alt="Michelle">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Michelle Ranzinger, Asset Manager</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/laura.jpg" alt="Laura">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Laura Baukol, Member at Large</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/chad.jpg" alt="Chad">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Chad Sheridan, Member at Large</h4>
  </div>
</div>

<div class="row break">
  <br><br><br>
</div>

<div class="row">
  <h2>Production Management</h2>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/matthew_2.jpg" alt="Matthew">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Matthew Baukol, Production Director</h4>
  </div>
</div>
<div class="media col-md-6">
  <div class="media-left">
    <img class="media-object" src="../assets/img/gary.jpg" alt="Gary">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading">Gary Carnes, Master of Ceremonies</h4>
  </div>
</div>
