<!-- <div>
  <p>This is the About component!</p>
</div> -->

<h2>Who We Are</h2>
<br><br>
<div class="media">
  <div class="media-left">
    <img class="media-object" src="http://www.northlandchorale.org/images/about/Kris.jpg" alt="Kris Sage">
  </div>
  <div class="media-body">
    <h3 class="media-heading">About Our Music Director Kris Sage</h3>
    Kris graduated from Metropolitan State University of Denver in May 2016 with a Bachelor's in Music and a Minor in Theater. His senior thesis was on music and autism. Kris has over 20 years experience singing, dancing and acting in choirs and productions. He has learned from some of the best teachers and conductors in the country, including a Grammy judge and an American Choral Directors Association Hall of Fame conductor. Kris has a love for all styles of music and has performed everything from opera to rock. Kris says, "I love how music brings people together, and I am so thrilled to be a part of the Northland Chorale family. I'm excited to see where we can go, and what we can do when we join our talents and passions for music and performing!" We are just as excited to have Kris on board!</div>
</div>

<br><br>
<div class="media">
  <div class="media-left">
    <img class="media-object" src="http://www.northlandchorale.org/images/about/Patty%20Strauch%202011-cropped.jpg" alt="Patti Strauch">
  </div>
  <div class="media-body">
    <h3 class="media-heading">About Our Accompanist Patricia Strauch</h3>
    The Northland Chorale is pleased to have Patricia (Patti) Strauch as our rehearsal and performance accompanist. Patti brings a wealth of keyboard experience and a great personality to the Chorale. As a performance / rehearsal accompanist, private piano teacher and contract musician she has shared her talents with churches, musical theaters and dance studios in Colorado and Florida since 1974. We are very happy that Patti is sharing her great musical talent with us!</div>
</div>
