<!-- <p>
  This is the Tickets component!
</p> -->

<div>
  <img class="displayed" src="../assets/img/NLC_Spring2017_flyer.jpg" alt="30 Years of Broadway" height="75%" width="75%" align="center">
</div>

<h2>Tickets</h2>

<div>
  <p><strong><h3>Spring 2017 show - 30 Years of Broadway!</h3>
  musical direction by Kris Sage,<br>
  featuring Gary Carnes</strong></p>

  <p>Join us for a showstopping performance of songs from the last 30 years of Broadway! Selections include music from <i>Aida</i>, <i>Wicked</i>, <i>Newsies</i>, <i>Little Shop of Horrors</i>, <i>Tommy</i>, <i>Les Miserables</i>, <i>Phantom of the Opera</i>,
    and more!</p>
  <p><strong><h3>Show dates:</h3></strong> Friday, April 7, at 7:30 p.m. <br> Saturday, April 8, at 7:30 p.m. <br> Sunday, April 9, at 2:30 p.m. </p>
  <p>DL Parsons Theatre <br> 11801 Community Center Drive <br> Northglenn, CO 80233 <br> 303.450.8800 <br> <a href="http://www.dlparsonstheatre.org" target="blank">www.dlparsonstheatre.org</a>
  </p>
</div>

<div class="row">
  <div class="product-list">
    <div class="product-item col-md-4" *ngFor="let product of products">
      <div class="card">
        <h3>{{product.category}}, {{product.description}}</h3>
        <div class="small">
          <h4>{{product.date}}, {{product.time}}</h4>
          <p class="product-price">{{product.price|currency:'USD':true}}</p>
          <a [routerLink]="['/cart']">
            <button class="btn btn-primary add-to-cart-button" (click)="appendItem(product)">Add to cart</button>
          </a>
          <hr>
        </div>
      </div>
      <!-- end of left column -->

      <!-- <div class="col-md-4">
        <div class="row">
          <p class="product-price">{{product.price|currency:'USD':true}}</p>
        </div>
        <div class="row">
          <a [routerLink]="['/cart']">
            <button class="btn btn-primary add-to-cart-button" (click)="appendItem(product)">Add to cart</button>
          </a>
        </div>
      </div> -->
      <!-- end of right column -->
    </div>
  </div>
</div>
