h1, h2, h3, h4 {
    font-family: 'Sansita', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
}

/*body, html {
    height: 100%;
}*/

/*.parallax {*/
    /* The image used */
    /*background-image: url("img/Spring2016.jpg");*/
    /* Full height */
    /*height: 100%;*/
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}*/
