<!-- <h1>
  {{title}}
</h1> -->
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/about']">Who We Are</a></li>
        <li><a [routerLink]="['/tickets']">Show Info and Tickets</a></li>
        <!-- <li class="navbar-right">
          <a [routerLink]="['Cart']"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
        </li> -->
      </ul>

      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/cart']"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
