<!-- <h1>
  {{title}}
</h1> -->

<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/welcome']">
        <img src="../assets/img/note.png" width="35" height="35" alt="Home">
      </a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/about']">Who We Are</a></li>
        <li><a [routerLink]="['/tickets']">Show Info and Tickets</a></li>
      </ul>

      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/cart']"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="footer" class="">
  <div class="container">
    <p><button class="btn-primary" type="submit">
      <a href="mailto:northlandchorale@me.com"><i class="fa fa-envelope"></i> Email Us!</a>
    </button>
      <a href="https://www.facebook.com/northlandchorale/" target="_blank"> <i class="fa fa-facebook-square fa-3x pull-right" aria-hidden="true"></i></a></p>
    <p class="contact">720.515.4NLC (4652)</p><br>
    <p class="contact">©️Northland Chorale 2017</p>
  </div>
</div>
