.navbar-right {
  padding-right: 25px;
}

.navbar-brand {
  margin: auto;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar-nav>li>a {
  color: white;
}

.navbar-nav>li>a:hover {
  color: rgb(170, 204, 200);
}

.navbar-inverse {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2d6ca2), to(#2F8BA0));
  background-image: -webkit-linear-gradient(top, #2d6ca2 0%, #2F8BA0 100%);
  background-image: -moz-linear-gradient(top, #2d6ca2 0%, #2F8BA0 100%);
  background-image: linear-gradient(to bottom, #2d6ca2 0%, #2F8BA0 100%);
  background-repeat: repeat-x;
  border: none;
  border-radius: 0;
}

.btn-primary a, a:focus, a:hover {
  background-repeat: repeat-x;
  /*border-color: #2b669a;*/
  color: white;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

#footer {
  height: auto;
  margin-top: 33px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2F8BA0), to(#2d6ca2));
  background-image: -webkit-linear-gradient(top, #2F8BA0 0%, #2d6ca2 100%);
  background-image: -moz-linear-gradient(top, #2F8BA0 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #2F8BA0 0%, #2d6ca2 100%);
  background-repeat: repeat-x;
}

.fa, .contact {
  color: white;
}
