<!-- <h1>
  {{title}}
</h1> -->
<link href="/node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">

<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/about']">Who We Are</a></li>
        <li><a [routerLink]="['/tickets']">Show Info and Tickets</a></li>
      </ul>

      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/cart']"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="footer" class="">
  <div class="container">
    <p><button type="submit">
      <a href="mailto:northlandchorale@me.com"><i class="fa fa-envelope"></i> Email Us!</a>
    </button>
    <a href="https://www.facebook.com/northlandchorale/" target="_blank"><i class="fa fa-facebook fa-2x pull-right" aria-hidden="true"></i></a></p>
    <p>720.515.4NLC (4652)</p>
    <p>©️Northland Chorale 2017</p>
  </div>
</div>
