<!-- <div>
  <p>This is the Welcome component!</p>
</div> -->

<!--parallax 1 -->
<div class="row">
  <section class="bg-1 text-center img-responsive">
    <h2 class="">Welcome to the Northland Chorale!</h2>
    <p class="lead">A show choir in the north Denver area, we've been entertaining audiences since 1970.</p>
  </section>
</div>

<!-- info blocks  -->
<!-- <div class="container"> -->
  <hr class="">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="">Who We Are</h3>
        </div>
        <div class="panel-body">The Northland Chorale is a mixed-voice chorus made up of volunteers from all walks of life who love to sing and entertain. We’ve found that through music, we can share our love of life with our audience. We believe in the power of music to bring
          people together and to provide an opportunity to share moments of happiness.</div>
        <div class="panel-footer text-right"><a [routerLink]="['/about']" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="">Show Information & Tickets</h3>
        </div>
        <div class="panel-body"><strong>30 Years of Broadway! April 7-9, 2017<br>musical direction by Kris Sage, featuring Gary Carnes</strong><br>Join us for a selection of songs from the last 30 years of Broadway including music from <i>Wicked</i>, <i>Aida</i>, <i>Newsies</i>, <i>Little Shop of Horrors</i>, <i>Tommy</i>, <i>Les Miserables</i>, <i>Phantom of the Opera</i>, and more!</div>
        <div class="panel-footer text-right"><a [routerLink]="['/tickets']" class="btn btn-default">Purchase Tickets</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="">
<!-- </div> -->

<div class="divider"></div>

<!--parallax 2 -->
<div class="row">
  <section class="bg-2 text-center img-responsive">
    <h1 class="">We hope to see you at an upcoming show!</h1>

    <p class="lead"></p>
  </section>
</div>
<!--/parallax 2-->
