<!-- <div>
  <p>This is the Welcome component!</p>
</div> -->

<!--parallax 1 -->
<section class="bg-1 text-center">
     <h2 class="">Northland Chorale</h2>

    <p class="lead">A show choir since 1970, we entertain the north metro Denver area with fun, family friendly shows.</p>
</section>

<!-- info blocks  -->
<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Who We Are</h3>
                </div>
                <div class="panel-body">I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Show Information & Tickets</h3>
                </div>
                <div class="panel-body">You know how I sometimes have really brilliant ideas? It's a fez. I wear a fez now. Fezes are cool. Did I mention we have comfy chairs? I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="">
</div>

<div class="divider"></div>

<!--parallax 2 -->
<section class="bg-2 text-center">
     <h1 class="">We hope to see you at an upcoming show!</h1>

    <p class="lead"></p>
</section>
<!--/parallax 2-->
<div id="footer" class="">
    <div class="container">
        <p>©️Northland Chorale 2017</p>
    </div>
</div>
